

body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;

	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	float:left;
	width: 659px;
	height: 494px;

}

.ryu-hulk {
	filter: hue-rotate(90deg); 
	float: right;
	width: 659px;
	height: 494px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
  	filter: hue-rotate(90deg);
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool, .ryu-hulk-still, .ryu-hulk-ready, .ryu-hulk-throwing, .ryu-hulk-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-hulk-ready, .ryu-hulk-throwing {
	display:none;
}
.ryu-ready, .ryu-hulk-ready{
	background-image: url("../images/ryu-ready-position.gif");
}
.ryu-still, .ryu-hulk-still {
	background-image: url("../images/ryu-standing-still.png");
}
.ryu-throwing, .ryu-hulk-throwing{
	background-image: url("../images/ryu-throwing-hadouken.png");
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hadouken-hulk, .ryu-hulk-ready, .ryu-hulk-still, .ryu-hulk-throwing, .ryu-hulk-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 530px;
	float: left;
}

.hadouken-hulk {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: right;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 530px;
	float: right;
}

.ryu-cool, .ryu-hulk-cool {
	display:none;
	background-image: url("../images/ryu-cool.gif");

}
.how-to {
	position: absolute;
	left: 450px;
	height: 425px;
	width: 475px;
	padding-top: 75px;
	display: block;
}

.how-to p {
	font-family: fantasy;
	font-size: 35px;
	

}
.how-to p + p {
	padding-left: 100px;
}










